<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2030 Vision Wiki - About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <header>
        <nav>
            <div class="logo">
                <a href="index">
                    <img src="/img/mylogo.png" alt="2030 Vision Wiki Logo">
                </a>
            </div>
            <ul class="navs">
                <li><a href="index">Home</a></li>
                <li><a href="add">Add Project</a></li>
                <li><a href="search">Search</a></li>
                <li><a href="about">About</a></li>
            </ul>
        </nav>
    </header>
</head>

<body>
    
    <<main>
        <section>
            <h1>About 2030 Vision</h1>
            <p>The 2030 Vision is a global initiative aimed at creating a sustainable future through collaborative
                efforts. This wiki is dedicated to documenting and sharing information related to this vision.</p>
        </section>
        <div class="articles-container">
        <article>
            <h1>
                Contribute to the Vision
            </h1>
            <P>
                Tech enthusiasts, industry experts, and visionaries, this is your space. Share your insights on AI,
                renewable energy, and tech-driven equality, shaping the narrative of Saudi Arabia's technological
                evolution.
            </P>
        </article>
        <article>
        <h1>
            Explore the Future
        </h1>
        <P>
            Navigate through a curated collection of articles, insights, and data tailored to the technological
            advancements steering Saudi Arabia toward 2030. From smart cities to inclusive tech initiatives, our wiki is
            your compass in this digital landscape. </P>
        </article>
        <article>
        <h1>
            Tech for Equality
        </h1>
        <P>
            Discover how technology is a driving force behind Saudi Vision 2030's commitment to equality. Explore
            projects breaking barriers, empowering communities, and creating an inclusive society. </article>
   </article>
   </div>
 </main>
    
</body>
<footer>
    &copy;  2030 Vision Wiki
</footer>
<br><br>

</html>