<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2030 Vision Wiki</title>
    <link rel="stylesheet" href="/css/styles.css">


    <header>
        <nav>
            <div class="logo">
                <a href="index">
                    <img src="/img/mylogo.png" alt="2030 Vision Wiki Logo">
                </a>
            </div>        
            <ul class="navs">
                <li><a href="index">Home</a></li>
                <li><a href="add">Add Project</a></li>
                <li><a href="search">Search</a></li>
                <li><a href="about">About</a></li>
            </ul>
        </nav>
    </header>
</head>
    <body>
        <main>
            <section>
                <h1>Welcome to the 2030 Vision Wiki</h1>
                <p>Explore initiatives and milestones shaping our future and guiding our journey towards the ambitious and transformative 2030 Vision for sustainable, long-term national development.            </p>
            </section>
            <div class="articles-container">
                <article>
                In April 2016, Saudi Arabia unveiled an ambitious and transformative roadmap for its future – Saudi Vision 2030. Spearheaded by Crown Prince Mohammed bin Salman, this comprehensive plan aims to diversify the Saudi economy, reduce its dependency on oil, and position the Kingdom as a vibrant and dynamic global hub. With a focus on three core pillars – a vibrant society, a thriving economy, and an ambitious nation – Saudi Arabia envisions a future that is both sustainable and prosperous.
            </article>
            <article>
                In April 2016, Saudi Arabia unveiled an ambitious and transformative roadmap for its future – Saudi Vision 2030. Spearheaded by Crown Prince Mohammed bin Salman, this comprehensive plan aims to diversify the Saudi economy, reduce its dependency on oil, and position the Kingdom as a vibrant and dynamic global hub. With a focus on three core pillars – a vibrant society, a thriving economy, and an ambitious nation – Saudi Arabia envisions a future that is both sustainable and prosperous.
            </article>
            <article>
                In April 2016, Saudi Arabia unveiled an ambitious and transformative roadmap for its future – Saudi Vision 2030. Spearheaded by Crown Prince Mohammed bin Salman, this comprehensive plan aims to diversify the Saudi economy, reduce its dependency on oil, and position the Kingdom as a vibrant and dynamic global hub. With a focus on three core pillars – a vibrant society, a thriving economy, and an ambitious nation – Saudi Arabia envisions a future that is both sustainable and prosperous.
            </article>
            <article>
                In April 2016, Saudi Arabia unveiled an ambitious and transformative roadmap for its future – Saudi Vision 2030. Spearheaded by Crown Prince Mohammed bin Salman, this comprehensive plan aims to diversify the Saudi economy, reduce its dependency on oil, and position the Kingdom as a vibrant and dynamic global hub. With a focus on three core pillars – a vibrant society, a thriving economy, and an ambitious nation – Saudi Arabia envisions a future that is both sustainable and prosperous.
            </article>
        </div>
        </main>
    
</body>
<footer>
        &copy;  2030 Vision Wiki
    </footer>
</html>
